.clipboardBlockInner {
  position: absolute;
  right: 10px;
  /*top: 43px;*/
  padding: 13px 10px 8px 10px;
  border: 1px solid #c9c9c9;
  border-top: 0;
  border-radius: 2px;
  @include lightGradient;
  text-shadow: 1px 1px 2px $mastheadContainerTextShadow;
  z-index: 10;
}