#contentSearch {
  position: relative;
  float: right;
  width: 19rem;
  margin: -3rem 0 0;

  .contentSearchInput {
    margin: 0;
    padding-right: 2rem;
    font-style: italic;
  }

  .contentSearchInput:focus {
    font-style: normal;
  }

  .contentSearchIcon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 1.75rem;
    font-size: 1.3rem;
    line-height: 2.3125rem;
    color: $borderGray;
  }
}

#paginator {
  overflow: hidden;

  .pagination {
    list-style-type: none;
    margin: 0;
  }

  .pagination-limit {
    float: left;
  }

  .pagination-skip {
    float: right;
  }

  .pagination-item {
    display: inline-block;
    vertical-align: top;
  }

  .pagination-item-link {

  }
}

