<div id="paginator">

    <!--<div data-rv-paginator="model:childContent:" class="paginator">-->
        <ul class="pagination pagination-limit">
            <li class="pagination-item" data-rv-each-size="model:constants->pagination->defaultPageSize">
                <a class="pagination-item-link" data-rv-on-click="view.setLimit" data-rv-text="size"></a>
            </li>
        </ul>
        <ul class="pagination pagination-skip">
            <li class="pagination-item">
                <a class="pagination-item-link" data-rv-on-click="view.prev">&lt;prev</a>
            </li>
            <li class="pagination-item"><a class="pagination-item-link" >1</a></li>
            <li class="pagination-item"><a class="pagination-item-link" >2</a></li>
            <li class="pagination-item"><a class="pagination-item-link" data-rv-on-click="view.goToPage">3</a></li>
            <li class="pagination-item">
                <a class="pagination-item-link" data-rv-on-click="view.next">next&gt;</a>
            </li>
        </ul>
</div>