<div class="row accordionHeader validationAccordion" data-rv-modelid="model.cid">
    <div class="small-12 columns">
        <table style="margin-bottom: 0; table-layout: fixed;">
            <tbody>
                <tr>
                    <td style="width: 30%;"><i class="fa fa-sort"></i>{{model:type | humanize | spaceBefore}}</td>
                    <td style="text-align: center;">
                            <span data-rv-on-click="view.deleteThisValidation">
                               <i class="fa fa-trash-o"></i>
                            </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

