<div id="navbar-partial" class="contain-to-grid sticky">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Grasshopper</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li class="divider hide-for-small"></li>
                <li class="has-dropdown"><a href="#">Menu</a>
                    <ul class="dropdown">
                        <li><a href="#" class="">About</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Something Else</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Some Other Thing</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>