<div id="navbar-partial" class="contain-to-grid sticky">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="#">Some Link</a></li>
            </ul>
            <ul class="right">
                <li><a href="#">Log In</a></li>
                <li class="divider hide-for-small"></li>
                <li class="has-dropdown"><a href="#">Menu</a>
                    <ul class="dropdown">
                        <li><a href="#" class="">About</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Something Else</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Some Other Thing</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
<div id="header" class="row">
    <div class="large-8 columns">
        <img class="grasshopperLogo" src="http://content.screencast.com/users/GregSolid/folders/Jing/media/c4f1e4d6-b74f-467c-be23-2ed1c4bdfea1/00000028.png"></img>
        <h3>Grasshopper</h3>
    </div>
    <div class="large-2 columns">

    </div>
    <div class="large-2 columns">

    </div>
</div>