<div id="dashboard" class="container">
    <div class="row">
        <div class="large-4 columns">
            <h3>
                <span>{{model:resources->welcomeBack | withComma}}</span>
                <span>{{model:userModel->firstname | spaceAfter}}{{model:userModel->lastname}}</span>
            </h3>

            <p>{{model:resources->currentlySignedIn}}</p>

            <!-- /#big_stats -->


            <table class="table stat-table">
                <tbody>
                <tr>
                    <td class="value">789</td>
                    <td class="full">Visits Today</td>
                </tr>
                <tr>
                    <td class="value">634</td>
                    <td class="full">Unique Visits</td>
                </tr>
                <tr>
                    <td class="value">13</td>
                    <td class="full">Pending Comments</td>
                </tr>
                <tr>
                    <td class="value">17</td>
                    <td class="full">Support Requests</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.span4 -->

        <div class="large-8 columns">
            <div class="row">
                <div class="large-12 columns">
                    <ul class="large-block-grid-4 stats">
                        <li>
                            <div class="report-cirque" data-value="1630" data-arc-color="#2790B0"></div>
                            <h3>Pending Sales Today</h3></li>
                        <li>
                            <div class="report-cirque" data-value="3480" data-total="3580" data-arc-color="#94BA65"
                                 data-label="ratio"></div>
                            <h3>Completed Sales Today</h3></li>
                        <li>
                            <div class="report-cirque" data-value="1650" data-arc-color="#4074AA"></div>
                            <h3>Something Else</h3></li>
                        <li>
                            <div class="report-cirque" data-value="870" data-arc-color="#CC0000"
                                 data-label="ratio"></div>
                            <h3>Returned Items Today</h3></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>