#assetDetailRow {
  cursor: pointer;
  &:hover {
    background-color: #F0F3F7;
  }

  #uploadProgressMeter {

  }

  #uploadError {
    text-align: center;

    a {
      margin-bottom: 0;
    }
  }

}

