[submodule "api"]
	path = api
	url = git@git.thinksolid.com:opensource/grasshopper-api-js.git
[submodule "wiki"]
    path = wiki
    url = git@git.thinksolid.com:opensource/grasshopper-admin.wiki.git
[submodule "app/vendor/masseuse"]
	path = app/vendor/masseuse
	url = git@git.thinksolid.com:opensource/masseuse.git
[submodule "app/vender/helpers"]
	path = app/vender/helpers
	url = git@git.thinksolid.com:javascript/helpers.git
