<div id="[[= viewId ]]">
    <div id="modal-container">
        <div id="modal-contents">
            <div class="row">
                <div id="modal-text">
                    <h2>{{data.msg}}</h2>
                </div>
            </div>
            <div id="input-container" class="row">
                <div class="small-8 columns small-centered">
                    <input type="text" data-rv-value="data.data"/>
                </div>
            </div>
            <div class="row">
                <div id="button-container">
                    <button id="cancel">{{data.resources.close}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

        <!--checkbox list of availble types //query of all types. list them as checkboxes.-->
