<div id="modalContainer">
    <div id="modalContents">

        <div id="modalHeader" class="row">
            <h4>{{model:header}}</h4>
            <span>{{model:msg}}</span>
        </div>

        <div id="modalBody" class="row">

            <div class="small-12 columns inputContainer">

                <div class="row" data-rv-each-type="model:data">

                    <div class="small-12 columns">

                        <input data-rv-id="type._id" type="checkbox" data-rv-checked="type.checked">

                        <label class="inline" data-rv-for="type._id">
                            <span data-rv-unless="type.helpText">
                                {{type.label}}
                            </span>

                            <span data-rv-if="type.helpText" data-tooltip class="has-tip" data-rv-title="type.helpText">
                                {{type.label}}
                            </span>
                        </label>

                    </div>

                </div>

            </div>

        </div>

        <div id="buttonContainer" class="row">
            <div class="small-12 text-center">
                <ul class="button-group radius right">
                    <li><a id="confirm" class="button tiny noMarginBottom">{{model:resources->save}}</a></li>
                    <li><a id="cancel" class="button tiny noMarginBottom">{{model:resources->close}}</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>