<div id="modal-container">
    <div id="modal-contents">
        <div class="row">
            <div id="modal-text">
                <h2>{{model:msg}}</h2>
            </div>
        </div>
        <div id="image-container" class="row">
            <img data-rv-src="model:data">
        </div>
        <div class="row">
            <div class="small-12 text-center">
                <ul id="button-container" class="button-group radius">
                    <li><a data-rv-href="model:data" download id="confirm" class="button small"><i
                            class="icon-download-alt"></i>{{model:resources->download | spaceBefore}}</a></li>
                    <li><a id="cancel" class="button small">{{model:resources->close}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>