<div id="modalContainer">
    <div id="modalContents">

        <div id="modalHeader" class="row">
            {{model:header}}
        </div>

        <div id="modalBody" class="row">
            <img data-rv-src="model:data" class="imageContainer">
        </div>

        <div id="buttonContainer" class="row">
            <div class="right">
                <a download id="confirm" data-rv-href="model:data" class="button tiny radius noMarginBottom">
                    <i class="fa fa-download"></i>
                    {{model:resources->download | spaceBefore}}
                </a>
                <button id="cancel" class="button tiny radius noMarginBottom">{{model:resources->close}}</button>
            </div>
        </div>

    </div>
</div>


