<div id="modalContainer">
    <div id="modalContents">

        <div id="modalHeader" class="row">
            {{model:header}}
        </div>

        <div id="modalBody" class="row">

            <div class="small-12 columns inputContainer">

                <div class="row" data-rv-each-type="model:data">

                    <div class="small-12 columns">

                        <input data-rv-id="type._id" name="radio" type="radio" data-rv-value="type._id"
                               data-rv-checked="model:selectedType">

                        <label class="inline" data-rv-for="type._id">
                            <span data-rv-unless="type.helpText">
                                {{type.label}}
                            </span>

                            <span data-rv-if="type.helpText" data-tooltip class="has-tip" data-rv-title="type.helpText">
                                {{type.label}}
                            </span>
                        </label>

                    </div>

                </div>

            </div>

        </div>

        <div id="buttonContainer" class="row">
            <div class="right">
                <button id="confirm" class="button tiny radius noMarginBottom">{{model:resources->save}}</button>
                <button id="cancel" class="button tiny radius noMarginBottom">{{model:resources->close}}</button>
            </div>
        </div>

    </div>
</div>