<div id="modalContainer">
    <div id="modalContents">

        <div id="modalHeader" class="row">
            {{model:header}}
        </div>

        <div id="modalBody">
            {{model:msg}}
        </div>

        <div id="buttonContainer" class="row">
            <div class="right">
                <button id="confirm" class="button tiny radius noMarginBottom">{{model:resources->confirm}}</button>
                <button id="cancel" class="button tiny radius noMarginBottom">{{model:resources->cancel}}</button>
            </div>
        </div>

    </div>
</div>