<div id="[[= viewId ]]">
    <div id="modal-container">
        <div id="modal-contents" class="small-6">
            <div class="row">
                <div id="modal-text">
                    <h2>{{data.msg}}</h2>
                </div>
            </div>
            <div class="row">
                <img data-rv-src="data.image">
            </div>
            <div class="row">
                <div id="button-container">
                    <button id="confirm">{{data.resources.confirm}}</button>
                    <button id="cancel">{{data.resources.cancel}}</button>
                </div>
            </div>
        </div>
    </div>
</div>