#modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  background: $modal-background-color;
  height: 100%;
  width: 100%;
  z-index: 11000;

  $modalPadding : 20px;

  #modalContents {
    display: flex;
    flex-direction: column;
    z-index: 99;
    height: auto;
    max-height: 100%;
    width: 35%;
    background-color: $modal-contents-background-color;
    box-shadow: 0 0 10px $modal-background-color;

    #modalHeader {
      padding: $modalPadding;
      min-height: 40px;
      text-align: left;
      font-weight: normal;
      font-size: 20px;
    }

    #modalBody {
      padding: 0 $modalPadding $modalPadding $modalPadding;
      overflow: scroll;
    }

    .modalPadding { // utility class for things outside the inputContainer
      padding: 0 $modalPadding 0 $modalPadding;
    }

    .inputContainer {
      border: 1px solid #999;
    }

    #buttonContainer {
      background-color: #f1f1f1;
      padding: $modalPadding;
    }

    .imageContainer { // only used by the image modal
      border: 1px solid #999;
      img {
        max-height: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    #dropZone { // only used by the upload modal
      height: 60px;
      border: 2px dashed #bbb;
      border-radius: 5px;
      padding: 25px;
      text-align: center;
      color: #bbb;
      &:hover {
        border-color: rgb(0, 125, 166);
      }
      &.active {
        border-color: rgb(0, 125, 166);
      }
    }

    #uploadFileInput { // only used by the upload modal
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }
}