#footer {
  @include lightGradient;
  width: 100%;
  padding: 10px 0;
  min-height: 53px;
  text-shadow: 1px 1px 2px #FFF;
  position: absolute;
  bottom: 0px;

  div {
    text-align: center;
  }

}

