#footer {
  background: #1d354d;
  width: 100%;
  padding: 7px 0;
  min-height: 31px;


  div {
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
  }

  .version {
    padding: 2px;
    font-size: 10px;
  }
}



