#advancedContentSearch {

    .newFilterSection {
        line-height : 1.5rem;
    }

    .activeFiltersSection {
        margin-top : 20px;

        .panel {
            background-color : $white;
        }
    }

    #filterCreator {
        padding: 1.5rem;
        padding-bottom: 1rem;
    }

}
