<table id="[[= viewId ]]" class="content-table">
    <tr>
        <th>{{data.resources.fileIndex.fileName}}</th>
        <th>{{data.resources.fileIndex.size}}</th>
        <th>{{data.resources.fileIndex.modified}}</th>
        <th>{{data.resources.actions}}</th>
    </tr>
    <tr>
        <td><a href="#">file.jpg</a></td>
        <td align="center">128.5kb</td>
        <td align="center">10/13/2013</td>
        <td align="center"><a href="#"><i class="icon-download-alt"></i></a> <a href="#"><i class="icon-trash"></i></a></td>
    </tr>
    <tr>
        <td><a href="#">THIS IS NOT YET BUILT</a></td>
        <td align="center">128.5kb</td>
        <td align="center">10/13/2013</td>
        <td align="center"><a href="#"><i class="icon-download-alt"></i></a> <a href="#"><i class="icon-trash"></i></a></td>
    </tr>
</table>