<table class="content-table">
    <thead>
        <tr>
            <th>{{model:resources->fileIndex->fileName}}</th>
            <th>{{model:resources->fileIndex->size}}</th>
            <th>{{model:resources->fileIndex->modified}}</th>
            <th style="text-align: center; width: 15%;">{{model:resources->actions}}</th>
        </tr>
    </thead>

    <tbody data-rv-hide="model:hasAssets">
        <tr>
            <td colspan="4">
                {{model:resources->asset->emptyNode}}
                <span>
                    <a data-rv-href="model:emptyAssetsLink">
                        {{model:resources->asset->clickToAdd}}
                    </a>
                </span>
            </td>
        </tr>
    </tbody>

    <tbody id="assetDetailTable" data-rv-show="model:hasAssets">
        <tr data-rv-new-asset-detail-row="asset" data-rv-each-asset="model:childAssets:">
        </tr>
    </tbody>
</table>