<div class="row">
    <div class="small-2 columns">
        <label data-rv-for="model.cid | prepend min" class="right inline noMarginBottom">
            {{model:resources->minimum}}
        </label>
    </div>

    <div class="small-4 columns">
        <input class="noMarginBottom" type="number" min="0" data-rv-id="model.cid | prepend min" data-rv-value="model:options->min">
    </div>

    <div class="small-2 columns">
        <label data-rv-for="model.cid | prepend max" class="right inline noMarginBottom">
            {{model:resources->maximum}}
        </label>
    </div>

    <div class="small-4 columns">
        <input class="noMarginBottom" type="number" min="0" data-rv-id="model.cid | prepend max" data-rv-value="model:options->max">
    </div>
</div>
