.contentBrowse {
  .tabs {
    border-bottom: 1px solid $tabBorderColor;
    & dd {
      border: 1px solid $tabBorderColor;
    }
    & dd.active {
      border-bottom: 1px solid $activeTabBorderColor;
    }
    p{
      margin-bottom: 0;
    }
  }

  .tabs-content {
    .content {
      width: 100%;
    }
  }

  #panel2-1 {
    position: relative;
    padding-bottom: 1.5rem;
  }
}
