<div id="[[= viewId ]]">
    <div class="row">
        <div class="large-12  columns">
            <div class="row">
                <div class="large-3 columns">
                    <h3 class="title">{{data.resources.users}}</h3>
                </div>
                <div class="large-3 large-offset-6 columns">
                    <input type="text" id="ContentSearch" class="search" placeholder="Search" /> <a href="#"><i class="icon-search"></i></a>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <table width="100%">
                <thead>
                    <tr>
                        <th width='200'>{{data.resources.user_name}}</th>
                        <th>{{data.resources.login}}</th>
                        <th>{{data.resources.role}}</th>
                        <th width='200'>{{data.resources.email}}</th>
                        <th>{{data.resources.actions}}</th>
                    </tr>
                </thead>
                <tbody id="usersIndexTable">
                    <!--built dynamically-->
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <ul class="pagination">
                        <li data-rv-class-unavailable="data.prevPage.disabled" class="arrow"><a
                                data-rv-disabled="data.prevPage.disabled"
                                data-rv-onClick="data.prevPage.onClick"
                                data-rv-href="data.prevPage.link">{{data.resources.previous}}</a></li>
                        <li data-rv-each-page="data.pages" data-rv-class-current="page.current"><a
                                data-rv-text="page.page" data-rv-href="page.link"></a></li>
                        <li data-rv-class-unavailable="data.nextPage.disabled" class="arrow"><a
                                data-rv-disabled="data.nextPage.disabled"
                                data-rv-onClick="data.nextPage.onClick"
                                data-rv-href="data.nextPage.link">{{data.resources.next}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>