<div id="usersIndex">
    <div class="row">
        <div class="large-11 small-centered columns">
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Login</th>
                        <th>Enabled</th>
                        <th>Role</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody data-usersindex-each-user="data.users">
                    <tr>
                        <td data-user-text="data.name"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>