<div id="usersIndex">
    <div class="row">
        <div class="large-12 columns">
            <div class="pagination-centered">
                <ul class="pagination">
                    <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    <li class="current"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li class="unavailable"><a href="">&hellip;</a></li>
                    <li><a href="">12</a></li>
                    <li><a href="">13</a></li>
                    <li class="arrow"><a href="">&raquo;</a></li>
                </ul>
            </div>
        </div>
        <div class="large-8 small-centered columns">
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Login</th>
                        <th>Enabled</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-usersindex-each-user="data.users">
                        <td data-usersindex-text="user.name"></td>
                        <td data-usersindex-text="user.login"></td>
                        <td data-usersindex-text="user.enabled"></td>
                        <td data-usersindex-text="user.role"></td>
                        <td data-usersindex-text="user.email"></td>
                        <td>
                            <a data-usersindex-href="user.urlLink" class="button">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>