
// Import open sans
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600,800";

//Import font-awesome
@import "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css";

$font: 'Open Sans', arial, sans-serif;

$imgPath: '/themes/blue-dashboard/img';

// Import Foundation
@import "../../vendor/foundation/scss/normalize.scss";
@import "../../vendor/foundation/scss/foundation.scss";

@import "colors";
@import "mixins";

@import "header";

.row {
  max-width: 100%;
}

body, html {
  height: 100%;

  font-family: $font;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font;
    margin: 10px 0;
    font-family: inherit;
    font-weight: 600;
    color: inherit;
    text-rendering: optimizelegibility;
  }

  table {
    border-radius: 4px;
    border-collapse: inherit;
    width: 100%;

    th
    {
      @include lightGradient;
    }
    td{
      -webkit-user-select: none;
      user-select: none;
    }
  }

  label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  }

  fieldset+legend {
    max-width: 90%;
  }

  ul.folder-tree li {
    list-style-type:none;
  }

  .content {
    padding: 16px 28px 23px;
  }

  #stage {
    margin-top: 1em;
    margin-bottom: 8em;
  }

  .search {
    display:inline;
    width: 200px;
  }

  textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: $white;
    border: 1px solid $lightGray;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: inset 0 1px 1px $darkAlphaGray;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }

//  .inline.right{
//    margin-bottom: 8px;
//  }

  $transition-speed: $switch-paddle-transition-speed;
  $transition-ease: $switch-paddle-transition-ease;
  $height: $switch-height-med;
  $font-size: $switch-font-size-med;
  $line-height: 2.3em;
  $paddle-bg: $switch-paddle-bg;
  $positive-color: $switch-negative;
  $negative-color: $switch-positive-color;
  $radius: false;
  $base-style: true;

  .userEnabledSwitch {
    @include switch($transition-speed, $transition-ease, $height, $font-size, $line-height, $paddle-bg, $positive-color, $negative-color, $radius, $base-style);
  }

  // VIEWS
  @import "../../views/modal/style.scss"; // Modal View
  @import "../../views/alertBox/style.scss"; // Alertbox View
  @import "../../views/login/style.scss"; // Login View
  @import "../../views/userIndex/style.scss"; // User Index
  @import "../../views/userDetail/style.scss"; // User Detail
  @import "../../views/contentDetail/style.scss"; // Content Detail View
  @import "../../views/assetDetail/style.scss"; // Asset Detail View
  @import "../../views/contentTypeDetail/style.scss"; // Content Type Detail View
  @import "../../views/nodeTree/style.scss"; // Node Tree

  // PLUGINS
  @import "../../plugins/embeddedtype/style.scss"; // Embedded Type Plugin
  @import "../../plugins/contentreference/style.scss"; // Content Reference Plugin
  @import "../../plugins/codeeditor/style.scss"; // Code Editor Plugin
  @import "../../plugins/richtext/style.scss"; // Rich Text Plugin
  @import "../../plugins/checkbox/style.scss"; // Checkbox Plugin

}