
// Import open sans
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600,800";

//Import font-awesome
@import "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css";

$font: 'Open Sans', arial, sans-serif;

$imgPath: '/themes/blue-dashboard/img';

// Import Foundation
@import "../../vendor/foundation/scss/normalize.scss";
@import "../../vendor/foundation/scss/foundation.scss";

@import "colors";
@import "mixins";

@import "header";

body, html {
  height: 100%;

  font-family: $font;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font;
    margin: 10px 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1;
    color: inherit;
    text-rendering: optimizelegibility;
  }

  h2 {
    font-size:24px;
  }

  h3 {
    font-size:18px;
  }

  table {
    border-radius: 4px;
    border-collapse: inherit;
    width: 100%;

    th
    {
      @include lightGradient;
    }
    td{
      -webkit-user-select: none;
      user-select: none;
    }
    .inactive {
      background-color: $tableInactiveRow;
      td{
        a{
          color: $black;
        }
      }
    }
  }

  label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  }

  ul.folder-tree li {
    list-style-type:none;
  }

  .content {
    padding: 16px 28px 23px;
  }

  #stage {
    margin-top: 1em;
    margin-bottom: 8em;
  }
  .pull-right {
    float: right;
  }

  .search {
    display:inline;
    width: 200px;
  }

  textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: $white;
    border: 1px solid $lightGray;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px $darkAlphaGray;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }

  input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 15px;
  }

  input[type='checkbox'] + label {
    clear: none;
    height: 15px;
    display: block;
    padding: 0 0 0 22px;
    margin: 0;
    font-size: 12px;
    line-height: 1.2em;
    background: url(#{$imgPath}/signin/check.png) no-repeat 0 0;
    cursor: pointer;
  }

  input[type='checkbox']:checked + label {
    background-position: 0 -15px;
  }

  $transition-speed: $switch-paddle-transition-speed;
  $transition-ease: $switch-paddle-transition-ease;
  $height: $switch-height-med;
  $font-size: $switch-font-size-med;
  $line-height: 2.3em;
  $paddle-bg: $switch-paddle-bg;
  $positive-color: $switch-negative;
  $negative-color: $switch-positive-color;
  $radius: false;
  $base-style: true;

  .userEnabledSwitch {
    @include switch($transition-speed, $transition-ease, $height, $font-size, $line-height, $paddle-bg, $positive-color, $negative-color, $radius, $base-style);
  }


  .btn-primary {
    color: $white;
    text-shadow: 0 -1px 0 $alphaGray;
    background-color: $mediumGreen;
    background-image: linear-gradient(to bottom, $lightGreen, $mediumGreen);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0c277', endColorstr='#ff7da64b', GradientType=0);
    border-color: $mediumGreen $mediumGreen $darkGreen;
    border-color: $lightAlphaGray $lightAlphaGray $alphaGray;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }

  .btn-large {
    padding: 9px 14px;
    font-size: 16px;
    line-height: normal;
    border-radius: 5px;
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid $black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
  }

  #modal-container {
    display: box;
    box-pack: center;
    box-align: center;

    position: fixed;
    top: 0;
    left: 0;
    background: $modal-background-color;
    height: 100%;
    width: 100%;
    z-index: 9000;
  }

  #modal-contents {
    z-index: 99;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    background-color: $modal-contents-background-color;
    padding: 1.25em;
    border: solid 1px $modal-contents-border-color;
    box-shadow: 0 0 10px $modal-background-color;
    #modal-text {
      text-align: center;
    }
    #button-container {
      display: inline-block;
      margin-top: 10px;
    }
    #image-container {
      img {
        max-height: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    #input-container {
      input:not[type='checkbox'] {
        width: 100%;
      }
    }
    #dropZone {
      height: 60px;
      border: 2px dashed #bbb;
      border-radius: 5px;
      padding: 25px;
      text-align: center;
      color: #bbb;
      &:hover {
        border-color: rgb(0, 125, 166);
      }
      &.active {
        border-color: rgb(0, 125, 166);
      }
    }
    #uploadFileInput {
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }

  .tooltip {
    z-index: 10000;
  }

  #alertBoxPartial {
    bottom: 40px;
    width: 95%;
    position: fixed;
    .bad {
      position: absolute;
      width: 100%;
      .error {
        @include alert-base;
        @include alert-style($alertColorBad);
        .close {
          @include alert-close;
          color: $alertCloseColor;
          opacity: 90;
        }
      }
    }
    .good {
      position: absolute;
      width: 100%;
      .error {
        @include alert-base;
        @include alert-style($alertColorGood);
        .close {
          @include alert-close;
          color: $alertCloseColor;
          opacity: 90;
        }
      }
    }


  }

  #login-page {

    .login-button {
      @include button;
      @include button-style($buttonOkay);
      @include radius;
      @include single-transition;
      @include inset-shadow(true);
      color: $buttonText;
      float:right;
    }

    .loginContainer {
      @include radius;
      border: 1px solid $loginBorder;
      padding: 16px 28px 23px;
      background-color: $loginBackground;
    }

    .account-container h1 {
      margin-bottom: .4em;
      color: $mediumBlue;
      font-size: 30px;
    }

    .account-container {
      @include radius;
      width: 380px;
      display: block;
      margin: 85px auto 0 auto;
      border: 1px solid $lightGray;
      background: $gray;

      font-size:13px;
    }



    .login-fields input {
      font-size: 13px;
      padding: 11px 15px 10px 50px;
      background-color: $gray;
      width: 322px;
      display: block;
      margin: 0;
      height:auto;
    }

    .login-fields label {
      display: none;
    }
    .login-fields .field {
      margin-bottom: 1.25em;
    }

    .login-fields .username-field {
      background: url(#{$imgPath}/signin/user.png) no-repeat;
    }

    .login-fields .password-field {
      background: url(#{$imgPath}/signin/password.png) no-repeat;
    }

    .login-extra {
      display: block;
      width: 300px;
      margin: 1.5em auto;
      text-align: center;
      line-height: 19px;
      text-shadow: 1px 1px 0px $white;
    }

  }

  #dashboard {

    .cirque-container {
      position: relative;
      display: inline-block;
    }

    .cirque-track, .cirque-fill {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }

    .cirque-fill {
      z-index: 20;
    }

    .cirque-label {
      position: relative;
      z-index: 30;
      color: #444;
      font-weight: bold;
      text-align: center;
    }

    .cirque-label.percent {
      font-size: 15px;
    }

    .cirque-label.ratio {
      font-size: 13px;
    }

    .stats{
      h3 {
        font-size:0.8em;
        display:block;
        width:120px;
        text-align:center;
      }
    }
  }

  // Users Index
  #usersIndex {
    #UserSearch {
      width:180px;
    }
  }
  // Users Detail
  #userDetail {
    #statusText {
      label {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }

  #contentEdit {

    .field-item {
      @include lightGradient;
      padding: 10px 10px;
      margin-top:15px;
      @include radius;

      .custom.dropdown {
        width: 80%;

        @media #{$small} {
          width: 40%;
        }
      }
    }
  }

  .tabs {
    border-bottom: 1px solid $tabBorderColor;
    & dd {
      border: 1px solid $tabBorderColor;
    }
    & dd.active {
      border-bottom: 1px solid $activeTabBorderColor;
    }
    p{
      margin-bottom: 0;
    }
  }
  .tabs-content {
    .content {
      width: 100%;
    }
  }

  // Asset Detail View
  #uploadProgressMeter {
    transition: width 2s;
  }

  #uploadError {
    text-align: center;

    a {
      margin-bottom: 0;
    }
  }

}