<tr id="[[= viewId ]]">
    <td class="clickableCell"><i class="icon-folder-close"></i> <a data-rv-href="data.href">{{data.label |
        spaceBefore}}</a></td>
    <td class="clickableCell">{{data.author | existsOr --}}</td>
    <td class="clickableCell">{{data.status | existsOr --}}</td>
    <td class="clickableCell">{{data.modified | existsOr --}}</td>
    <td align="center">
        <a id="editNode"><i class="icon-edit"></i></a>
        <a id="deleteNode"><i class="icon-trash"></i></a>
    </td>
</tr>