// Manifest file for all scss
$font: 'Open Sans', arial, sans-serif;

// Import Foundation
@import "vendor/foundation/scss/foundation";

//Import Foundation Icon Fonts
@import "vendor/foundation-icons/foundation_icons_general/sass/general_foundicons";

// Using Sass globbing to import app view scss files.
@import "colors";
@import "views/**/*";

body, html {
  font-family: $font;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font;
  }
}

