$black: black;
$mediumGray: #838383;
$alphaGray: rgba(0, 0, 0, 0.25);
$lightAlphaGray: rgba(0, 0, 0, 0.1);
$lightGray: lightgray;
$gray: #f8f8f8;

$darkGreen: #567233;
$mediumGreen: #7da64b;
$green: #94ba65;
$lightGreen: #a0c277;

$darkBlue: #16283a;
$blue: #1d354d;
$mediumBlue: #28496b;
$lightBlue: #2790b0;

$lightBlueText: #80a7cf;

$red: #A00000;
$white: #FFFFFF;
$offWhite: #f9f9f9;


$linkImportant: $lightBlueText;
$linkRegular: $darkBlue;

$buttonText: $offWhite;
$buttonOkay: $green;

$alertColor: $red;
$alertCloseColor: $offWhite;

$progressBar: $green;

$headerBackground: $gray;
$headerBoxShadow: $mediumBlue;
$headerPartialBackground: $darkBlue;
$headerTextLogo: $white;
$headerTopBarBackground: $darkBlue;

$loginBackground: $offWhite;
$loginBorder: $lightGray;

$gravatarBorder: $black;