$black: black;
$blue: #1d354d;
$darkBlue: #16283a;
$gray: #f8f8f8;
$green: #94ba65;
$lightBlue: #2790b0;
$lightBlueText: #80a7cf;
$lightGray: lightgray;
$mediumBlue: #28496b;
$offWhite: #f9f9f9;
$red: #A00000;
$white: #FFFFFF;

$linkImportant: $lightBlueText;
$linkRegular: $darkBlue;

$buttonText: $offWhite;
$buttonOkay: $green;

$alertColor: $red;
$alertCloseColor: $offWhite;

$progressBar: $green;

$headerBackground: $gray;
$headerBoxShadow: $mediumBlue;
$headerPartialBackground: $darkBlue;
$headerTextLogo: $white;
$headerTopBarBackground: $darkBlue;

$loginBackground: $offWhite;
$loginBorder: $lightGray;

$gravatarBorder: $black;