<div>
    <div class="row">
        <div class="large-12 columns">
            <table width="100%">
                <thead>
                <tr>
                    <th width='700'>{{model:resources->name}}</th>
                    <th style="text-align: center">{{model:resources->actions}}</th>
                </tr>
                </thead>
                <tbody id="contentTypeIndexTable">
                <!--built dynamically-->
                </tbody>
            </table>
        </div>
    </div>
</div>