<div>
    <div class="row">
        <div class="large-12 columns">
            <table width="100%">
                <thead>
                <tr>
                    <th width='700'>{{model:resources->name}}</th>
                    <th style="text-align: center">{{model:resources->actions}}</th>
                </tr>
                </thead>
                <tbody id="contentTypeIndexTable">
                <!--built dynamically-->
                </tbody>
            </table>
        </div>
    </div>

    <section data-rv-move-to="view.mastheadButtonsSelector">
        <ul class="button-group radius right">

            <li>
                <a data-rv-on-click="view.newContentType" class="button tiny">
                    {{model:resources->mastheadButtons->addContentType}}
                </a>
            </li>

        </ul>
    </section>
</div>