<table id="[[= viewId ]]" class="content-table">
    <thead>
        <tr>
            <th>{{data.resources.name}}</th>
            <th class="hide-for-small">{{data.resources.contentBrowse.author}}</th>
            <th>{{data.resources.tyep}}</th>
            <th class="hide-for-small">{{data.resources.status}}</th>
            <th>{{data.resources.contentBrowse.modified}}</th>
            <th class="hide-for-small">{{data.resources.actions}}</th>
        </tr>
    </thead>
    <tbody id="nodeDetailRow">
        <!--built Dynamically nodeDetailViewRow-->
    </tbody>
</table>