<table id="[[= viewId ]]" class="content-table">
    <tr>
        <th>{{data.resources.name}}</th>
        <th class="hide-for-small">{{data.resources.contentIndex.author}}</th>
        <th>{{data.resources.tyep}}</th>
        <th class="hide-for-small">{{data.resources.status}}</th>
        <th>{{data.resources.contentIndex.modified}}</th>
        <th class="hide-for-small">{{data.resources.actions}}</th>
    </tr>
    <tr>
        <td><i class="icon-folder-close"></i> <a href="#">Folder Name</a></td>
        <td align="center" class="hide-for-small">--</td>
        <td align="center">--</td>
        <td align="center" class="hide-for-small">--</td>
        <td align="center">10/13/2013</td>
        <td align="center" class="hide-for-small"><a href="#"><i class="icon-trash"></i></a></td>
    </tr>
    <tr>
        <td><a href="#item/1">Content Item Title</a></td>
        <td align="center" class="hide-for-small">Admin</td>
        <td align="center">View</td>
        <td align="center" class="hide-for-small">Published</td>
        <td align="center">10/13/2013</td>
        <td align="center" class="hide-for-small"><a href="#"><i class="icon-edit"></i></a> <a href="#"><i class="icon-trash"></i></a></td>
    </tr>
</table>