<div class="row">
    <div class="large-12 small-centered columns">
        <div class="row">
            <div class="small-3 columns">
                <label data-rv-for="model:_id" class="right inline">{{model:label}}</label>
            </div>
            <div class="small-9 columns">
                <div class="row" data-rv-id="model:_id">
                    <div data-rv-each-field="collection->models">
                        <!--<div data-rv-fieldtype="field"></div>-->
                        <span>SOMETHING</span>
                    </div>
                </div>
                <div class="row" data-rv-show="model:multi">
                    <ul class="button-group radius right">
                        <li><button type="button" id="addField" class="button tiny"><i class="icon-plus"></i></button></li>
                        <li><button type="button" id="removeField" class="button tiny"><i class="icon-minus"></i></button></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>