#userIndex {
  #UserSearch {
    width:180px;
  }
}

#userIndexTable {
  cursor: pointer;
  :hover {
    background-color: $userIndexTableRowHover;
  }
}
.userIndexTableWrapper {
  position: relative;
  padding-bottom: 1.5rem;

  #table-loading-overlay {
    top: 2.5rem;
  }
}
