#userIndex {
  #UserSearch {
    width:180px;
  }
}

#userIndexTable {
  cursor: pointer;
  :hover {
    background-color: $userIndexTableRowHover;
  }
}
.userIndexTableWrapper {
  position: relative;
  padding-bottom: 1.5rem;

  #table-loading-overlay {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 0.1rem;
    bottom: 2.8rem;
    left: 0.1rem;
    z-index: 1;
    background-color: rgba(255,255,255,0.9);

    .loading-overlay-image {
      display: block;
      position: absolute;
      top: calc(50% - (19px/2));
      left: calc(50% - (220px/2));
    }
  }

  &.spinner-loading {
    overflow-y: hidden;

    #table-loading-overlay {
      display: block;
    }
  }
}
