<div>
    <div class="row">
        <div class="small-12 columns">
            <table width="100%">
                <thead>
                <tr>
                    <th width='200'>{{model:resources->user_name}}</th>
                    <th>{{model:resources->login}}</th>
                    <th>{{model:resources->role}}</th>
                    <th width='200'>{{model:resources->email}}</th>
                    <th width='200' style='text-align: center'>{{model:resources->actions}}</th>
                </tr>
                </thead>
                <tbody id="userIndexTable">
                    <tr data-rv-each-user="model:users:" data-rv-new-user-detail-row="user"></tr>
                </tbody>
            </table>
        </div>
    </div>

    <section data-rv-move-to="view.mastheadButtonsSelector">
        <ul class="button-group radius right">

            <li>
                <a data-rv-on-click="view.addNewUser" class="button tiny">
                    {{model:resources->mastheadButtons->addNewUser}}
                </a>
            </li>

        </ul>
    </section>
</div>