<div id="[[= viewId ]]" class="alertBoxPartial">
    <div data-rv-hide="data.status" class="bad">
        <div data-alert class="error">
            <div data-rv-text="data.msg"></div>
            <a href="#" id="closeAlertBox" class="close">&times;</a>
        </div>
    </div>
    <div data-rv-show="data.status" class="good">
        <div data-alert class="error">
            <div data-rv-text="data.msg"></div>
            <a href="#" id="closeAlertBox" class="close">&times;</a>
        </div>
    </div>
</div>