<div id="contentEdit">
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend class="legendLabel">{{model:label}}</legend>

                <div data-rv-each-field="model:schema->fields">
                    <div data-rv-fieldwrapper="field"></div>
                </div>

                <div class="row">
                    <div class="large-12 small-centered columns">
                        <button data-rv-on-click="view.saveContent" class="button small radius right">{{model:resources->save}}</button>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</div>