<div id="contentEdit">
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend><h2>{{model:label}}</h2></legend>

                <div class="row">
                    <div class="small-2 columns">
                        <label for="label" class="right inline">{{model:resources->contentItem->label}}</label>
                    </div>
                    <div class="small-10 columns">
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" id="label" placeholder="Label" data-rv-value="model:label" required>
                            </div>
                            <div class="small-1 columns left">
                                <span class="postfix radius"><i class="icon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="small-2 columns">
                        <label for="author" class="right inline">{{model:resources->contentItem->author}}</label>
                    </div>
                    <div class="small-10 columns">
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" id="author" data-rv-value="model:author->_id" readonly="true">
                            </div>
                            <div class="small-1 columns left">
                                <span class="postfix radius"><i class="icon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="small-2 columns">
                        <label for="slug" class="right inline">{{model:resources->contentItem->slug}}</label>
                    </div>
                    <div class="small-10 columns">
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" id="slug" data-rv-placeholder="model:resources->contentItem->slug" data-rv-value="model:slug" readonly="true">
                            </div>
                            <div class="small-1 columns left">
                                <span class="postfix radius"><i class="icon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="small-2 columns">
                        <label for="parentNode" class="right inline">{{model:resources->contentItem->parent}}</label>
                    </div>
                    <div class="small-10 columns">
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" id="parentNode" data-rv-value="model:node->_id" readonly="true">
                            </div>
                            <div class="small-1 columns left">
                                <span class="postfix radius"><i class="icon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="small-2 columns">
                        <label for="id" class="right inline">{{model:resources->contentItem->id}}</label>
                    </div>
                    <div class="small-10 columns">
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" id="id" data-rv-value="model:_id" readonly="true">
                            </div>
                            <div class="small-1 columns left">
                                <span class="postfix radius"><i class="icon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="small-2 columns">
                        <label for="contentTypeId" class="right inline">{{model:resources->contentItem->type}}</label>
                    </div>
                    <div class="small-10 columns">
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" id="contentTypeId" data-rv-value="model:type" readonly="true">
                            </div>
                            <div class="small-1 columns left">
                                <span class="postfix radius"><i class="icon-lock"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div data-rv-each-field="model:schema->fields">
                    <div data-rv-fieldwrapper="field"></div>
                </div>

                <div class="row">
                    <div class="large-12 small-centered columns">
                        <button id="saveContentButton" class="button small radius right">{{model:resources->save}}</button>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</div>