<div id="contentEdit">
    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <legend class="legendLabel">{{model:label}}</legend>

                <div data-rv-each-field="model:schema->fields">
                    <div data-rv-fieldwrapper="field"></div>
                </div>

            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="large-12 small-centered columns">
            <ul class="button-group radius right">
                <li>
                    <a class="button tiny" data-rv-on-click="view.saveContent" data-rv-disabled="model:saving">
                        {{model:resources->save}}
                    </a>
                </li>

                <li>
                    <a class="button tiny" data-rv-on-click="view.saveAndClose" data-rv-disabled="model:saving">
                        {{model:resources->saveAndClose}}
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <section data-rv-move-to="view.mastheadButtonsSelector">
        <ul class="button-group radius right">

            <li>
                <a class="button tiny" data-rv-on-click="view.saveContent" data-rv-disabled="model:saving">
                    {{model:resources->save}}
                </a>
            </li>

            <li>
                <a data-rv-on-click="view.saveAndClose" class="button tiny" data-rv-disabled="model:saving">
                    {{model:resources->saveAndClose}}
                </a>
            </li>

        </ul>
    </section>
</div>