#login-page {

  .account-container h1 {
    margin-bottom: .4em;
    color: $accountContainerTextColor;
    font-size: 30px;
  }

  .account-container {
    @include radius;
    width: 380px;
    display: block;
    margin: 85px auto 0 auto;
    border: 1px solid $loginBorder;
    background: $accountContainerBackground;
    font-size:13px;
  }

  .login-fields input {
    background-color: $loginFieldsBackground;
  }

  .login-fields .field {
    margin-bottom: 1.25em;
  }
}
