 <div id="login">
    <div class="row">
        <div class="large-8 small-centered columns">
            <form>
                <fieldset>
                    <legend>
                        <h1>
                            Login
                        </h1>
                    </legend>
                    <div class="row">
                        <div class="small-11 small-centered columns">
                            <div class="row">
                                <input type="text" id="loginUsername" class="" placeholder="User Name" data-login-value="data.userName">
                                <small class="error" data-login-show="data.userNameError">
                                    <div data-login-text="data.userNameError"></div>
                                </small>
                            </div>
                            <div class="row">
                                <input type="password" id="loginPassword" class="" placeholder="Password" data-login-value="data.password">
                                <small class="error" data-login-show="data.passwordError">
                                    <div data-login-text="data.passwordError"></div>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 small-offset-8 columns">
                            <button class="login-button" data-login-disabled="data.hasError">
                                Log In
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

     <form>
         <fieldset>
             <legend>
                 ... And here is what that model looks like
             </legend>
             <div class="row">
                 <div class="small-11 small-centered columns">
                     data.userName:
                     <div class="row" data-login-text="data.userName">
                     </div>
                     data.password:
                     <div class="row" data-login-text="data.password">
                     </div>
                 </div>
             </div>
         </fieldset>
     </form>
</div>