 <div id="login">
    <div class="row">
        <div class="large-8 small-centered columns">
            <form>
                <fieldset>
                    <legend>
                        <h1>
                            Log in
                        </h1>
                    </legend>
                    <div class="row">
                        <div class="small-11 small-centered columns">
                            <div class="row">
                                <input type="text" id="loginUsername" class="" placeholder="User Name" data-login-value="data.username">
                                <small class="error" data-login-show="data.usernameError">
                                    <div data-login-text="data.usernameError"></div>
                                </small>
                            </div>
                            <div class="row">
                                <input type="password" id="loginPassword" class="" placeholder="Password" data-login-value="data.password">
                                <small class="error" data-login-show="data.passwordError">
                                    <div data-login-text="data.passwordError"></div>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-4 small-offset-8 columns">
                            <button id="loginButton" class="login-button" type="button" data-login-disabled="data.hasError">
                                Log In
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>