#login-page {

  .login-button {
    @include button;
    @include button-style($buttonOkay);
    @include radius;
    @include single-transition;
    @include inset-shadow(true);
    color: $buttonText;
    float:right;
  }

  .loginContainer {
    @include radius;
    border: 1px solid $loginBorder;
    padding: 16px 28px 23px;
    background-color: $loginBackground;
  }

  .account-container h1 {
    margin-bottom: .4em;
    color: $mediumBlue;
    font-size: 30px;
  }

  .account-container {
    @include radius;
    width: 380px;
    display: block;
    margin: 85px auto 0 auto;
    border: 1px solid $lightGray;
    background: $gray;
    font-size:13px;
  }

  .login-fields input {
    background-color: $gray;
  }

  .login-fields .field {
    margin-bottom: 1.25em;
  }

  .login-extra {
    display: block;
    width: 300px;
    margin: 1.5em auto;
    text-align: center;
    line-height: 19px;
    text-shadow: 1px 1px 0px $white;
  }

}