<div>
    <div id="topbar" class="contain-to-grid sticky">
        <a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
            <i class="icon-home"></i>
        </a>

        <div id="top-nav">
            <ul class="pull-right">
                <li><img class="profile-pic" data-rv-show="model:loggedIn" src="http://placehold.it/20x20"/></li>
                <li><a data-rv-href="model:userModel->href"><i class="icon-user"></i><span
                        data-rv-text="model:resources->user->loggedInAs | spaceAfter"></span><span>{{model:userModel->firstname | spaceAfter}}{{model:userModel->lastname | spaceAfter}}</span></a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" data-dropdown="settings-dropdown" data-options="is_hover:true">
                        {{model:resources->settings}}
                        <b class="caret"></b>
                    </a>

                    <ul id="settings-dropdown" data-dropdown-content class="dropdown-menu right">
                        <li><a id="myProfileButton" data-rv-show="model:userModel->loggedIn"
                               data-rv-href="model:userModel->urlLink">{{model:resources->edit}}
                            {{model:resources->profile}}</a></li>
                        <li><a data-rv-href="model:constants->internalRoutes->about">{{model:resources->site->about}}</a></li>
                    </ul>
                </li>

                <li><a id="logOutButton" data-rv-href="model:constants->internalRoutes->logout"
                       data-rv-show="model:userModel->loggedIn">{{model:resources->log_out}}</a>
                </li>
                <li><a id="logInButton" data-rv-href="model:constants->internalRoutes->login"
                       data-rv-hide="model:userModel->loggedIn">{{model:resources->log_in}}</a>
                </li>
            </ul>

        </div>
    </div>
    <div id="headerbar">
        <div class="container">

            <div class="row">
                <div class="large-12 columns">
                    <a data-rv-href="model:constants->internalRoutes->content" class="brand">{{model:resources->siteName}}</a>
                    <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-reorder"></i>
                    </a>

                    <div class="nav-collapse">
                        <ul id="main-nav" class="nav pull-right">

                            <li data-rv-show="model:userModel->role | includes admin reader editor">
                                <a data-rv-href="model:constants->internalRoutes->content">
                                    <i class="icon-th"></i>
                                    <span>{{model:resources->content}}</span>
                                </a>
                            </li>

                            <li data-rv-show="model:userModel->role | includes admin editor">
                                <a data-rv-href="model:constants->internalRoutes->contentTypes">
                                    <i class="icon-cogs"></i>
                                    <span>{{model:resources->types}}</span>
                                </a>
                            </li>

                            <li data-rv-show="model:userModel->role | equals admin">
                                <a data-rv-href="model:constants->internalRoutes->users">
                                    <i class="icon-user"></i>
                                    <span>{{model:resources->users}}</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
        </div>
    </div>
</div>