#header {
  /*border-bottom: 1px solid $headerBackground;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); */
  background-color: $blue;


  img.profile-pic {
    border-radius: 3px;
  }

  #headerbar {

    .btn-navbar {

      display: none;
      height: auto;
      padding: 14px 0 10px;
      margin-top: 25px;
      margin-right: -20px;
      margin-left: -20px;
      color: #94ba65;
      font-size: 16px;
      text-align: center;
      border-top: 1px solid #010203;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    }
  }


  #header-partial {
    background-color: $headerPartialBackground;
    box-shadow: 0 1px 0 $headerBoxShadow;

    #logo-text {
      color: $headerTextLogo;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      display: inline-block;
      line-height: 5px;
      margin-left: 10px;
      font-size: 1.6875em;
    }


    .top-bar {
      margin-bottom: 0px;
      background-color: $headerTopBarBackground;
      .name h1 a {
        color: $linkImportant;
      }
      .top-bar-section li a:not(.button) {
        background-color: $linkRegular;
      }
      .top-bar-section ul li>a {
        color: $linkImportant;
      }
    }
  }

  #sub-header {
    height: emCalc(70);

    .grasshopperLogo {
      width: 35px;
      border-radius: 3px;
    }

  }

  .brand {
    position: relative;
    top: 24px;
    display: block;
    overflow: hidden;
    width: 280px;
    height: 32px;
    margin-right: .75em;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 600;
    background: url(#{$imgPath}/logo.png) no-repeat 0 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }


  /*------------------------------------------------------------------

  Layout: Main Nav

  ------------------------------------------------------------------- */
  #main-nav {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-top: 15px;
    margin-right: 0;
    margin-bottom: 0;

    > li {
      float: left;
      padding: 0;
      margin: 0 4px 0 0;
      list-style: none;

      > a {
        padding: 10px 12px;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        background: transparent;
        border: 1px solid transparent;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 3px;
        background-clip: padding-box;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      }

      a, a:hover, .open {
        color: #ffffff;
        text-decoration: none;
        background-color: $menuBGBlue;
        background-image: linear-gradient(to bottom, $menuTopGradient, $menuBottomGradient);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff24415f', endColorstr='#ff172b3e', GradientType=0);
        border: 1px solid $menuBorder;
        box-shadow: inset 0 1px 0 $menuShadow;
      }

      a:hover,
      .open > a {
        background-color: #1b3148;
        background-image: linear-gradient(to bottom, #1e3751, #16283a);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e3751', endColorstr='#ff16283a', GradientType=0);
      }

      .active > a {
        color: #192d42;
        background: $white;
        filter: none !important;
        border-bottom-color: #ffffff;
        box-shadow: none;
        text-shadow: none;
      }

      a > i {
        position: relative;
        top: 1px;
        padding-right: .35em;
        font-size: 14px;

      }

      .nav-icon > a {
        i {
          padding-right:0;
        }
        span {
          display:none;
        }
      }


      .dropdown {
        > .dropdown-menu {

          top: 130%;
          left: auto;
          right: 0;

          ::before {
            content: '';
            display: inline-block;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #AAA;
            position: absolute;
            top: -7px;
            right: 9px;

          }

          ::after {
            content: '';
            display: inline-block;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid white;
            position: absolute;
            top: -6px;
            right: 10px;

          }
        }
      }

    }
    .dropdown-submenu .dropdown-menu {
      left:auto;
      right:100%;
    }
    .caret {
      margin-top: 12px;
      margin-left: .25em;
      border-top-color: #FFF;
      opacity: 0.65;
      filter: alpha(opacity=65);
    }
    .active .dropdown-toggle .caret {
      border-top-color: #1d354d;
    }
  }

  #headerbar {
    position: relative;
    z-index: 91;
    height: 80px;
    background: #1d354d;
    box-shadow: inset 0 1px 0 #28496b;

    .container {
      position: relative;
      height: 80px;
    }

    .btn-navbar {
      display: none;
      height: auto;
      padding: 14px 0 10px;
      margin-top: 25px;
      margin-right: -20px;
      margin-left: -20px;
      color: $green;
      font-size: 16px;
      text-align: center;
      border-top: 1px solid #010203;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
    }
  }


  /*------------------------------------------------------------------

Layout: Topbar

------------------------------------------------------------------- */
  #topbar {
    position: relative;
    z-index: 101;
    padding: 8px;
    height:35px;
    background: #16283a;
    border-bottom: 1px solid $black;



    .badge {
      line-height: 11px;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: .35em;
    }

    #menu-trigger {
      display: none;
      color: $white;
      font-size: 18px;

      :hover {
        text-decoration: none;
      }
    }

    .container.open #top-nav {
      display: block;
    }

    #top-nav {

      > ul > li > .dropdown-menu {
        top: 140%;
        right: auto;
        left: 0;

        ::before {
          content: '';
          display: inline-block;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid $lightGray;
          position: absolute;
          top: -7px;
          right: auto;
          left: 9px;
        }

        ::after {
          content: '';
          display: inline-block;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid white;
          position: absolute;
          top: -6px;
          right: auto;
          left: 10px;
        }

      }

      > ul.pull-right > li > .dropdown-menu {
        left: auto;
        right: 0;

        ::before {
          left: auto;
          right: 9px;
        }
        ::after {
          left: auto;
          right: 10px;
        }
      }

      > ul.pull-right .dropdown-submenu .dropdown-menu {
        left: auto;
        right: 100%;
      }

      > ul {
        padding: 0;
        margin: 0;

        > li {
          float: left;
          padding: 0;
          margin: 0 0 0 1.5em;
          list-style: none;
          color: #ffffff;
          font-size: 11px;

          :first-child {
            margin-left: 0;
          }

          > a {
            color: #80a7cf;
          }

          > a > .caret {
            border-top-color: #80a7cf;
          }
        }
      }
    }
  }

  .dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: $white;
    border: 1px solid $lightGray;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  .dropdown-menu.pull-right {
    right: 0;
    left: auto;
  }

  .dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid $white;
  }

  .dropdown-menu a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: $darkGray;
    white-space: nowrap;
  }

  .dropdown-menu li > a:hover,
  .dropdown-menu li > a:focus,
  .dropdown-submenu:hover > a {
    color: $white;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  }

  .dropdown-menu .active > a,
  .dropdown-menu .active > a:hover {
    color: $white;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
  }

  .dropdown-menu .disabled > a,
  .dropdown-menu .disabled > a:hover {
    color: $mediumGray;
  }

  .dropdown-menu .disabled > a:hover {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
  }

  .open {
    *z-index: 1000;
  }

  .open > .dropdown-menu {
    display: block;
  }

  .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
  }

  .dropup .caret,
  .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid $black;
    content: "";
  }

  .dropup .dropdown-menu,
  .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: $white;
  }

  .dropdown .dropdown-menu .nav-header {
    padding-right: 20px;
    padding-left: 20px;
  }

}