<div id="contentTypeDetailView">
    <div class="row">
        <div class="large-12  columns">
            <a href="#" data-dropdown="drop" class="button tiny radius dropdown right">{{model:resources->contentType->addNewField}}</a><br>
            <ul id="drop" data-dropdown-content class="f-dropdown">
                <li data-rv-each-field="model:plugins">
                    <a data-rv-on-click="view.addNewFieldToContentType">
                        {{field.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="small-2 columns">
                    <label for="title" class="right inline">{{model:resources->title | withColon}}</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="title" data-rv-value="model:label">
                </div>

            </div>

            <div class="row">
                <div class="small-2 columns">
                    <label for="helpText" class="right inline">{{model:resources->contentType->helpText | withColon}}</label>
                </div>
                <div class="small-10 columns">
                    <textarea id="helpText" data-rv-value="model:helpText"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="small-2 columns">
                    <label for="description" class="right inline">{{model:resources->contentType->description | withColon}}</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="description" data-rv-value="model:description">
                </div>
            </div>

            {{model:resources->contentType->fields | withColon}}
            <hr>

            <div class="row">
                <div class="small-4 columns">
                    <h3>{{model:resources->label}}</h3>
                </div>
                <div class="small-2 columns">
                    <h3>{{model:resources->contentType->fieldType}}</h3>
                </div>
                <div class="small-2 columns">
                    <h3>{{model:resources->required}}</h3>
                </div>
                <div class="small-2 columns">
                    <h3>{{model:resources->multiple}}</h3>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <dl class="accordion" data-accordion>
                <dd data-rv-each-field="collection:">
                    <a data-rv-href="field.cid | prepend #" class="accordionHeader">
                        <div class="row">
                            <div class="small-4 columns">{{field:label}}</div>
                            <div class="small-2 columns">{{field:type}}</div>
                            <div class="small-2 columns">{{field:required}}</div>
                            <div class="small-2 columns">{{field:instancing}}</div>
                            <div class="small-2 columns">
                                <button data-rv-on-click="view.removeFieldFromCollection" class="alert tiny right radius removeFieldButton">
                                    {{model:resources->remove}}
                                </button>
                            </div>
                        </div>
                    </a>
                    <div data-rv-id="field.cid" class="content">

                        <div class="row">
                            <div class="large-12 small-centered columns">
                                <div class="row">
                                    <div class="small-6 columns">
                                        <div class="row">
                                            <div class="small-3 columns">
                                                <label for="label" class="right inline">{{model:resources->label}}</label>
                                            </div>
                                            <div class="small-9 columns">
                                                <input type="text" id="label" placeholder="label" data-rv-value="field:label">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="small-3 columns">
                                                <label for="_id" class="right inline">{{model:resources->id}}</label>
                                            </div>
                                            <div class="small-9 columns">
                                                <div class="row">
                                                    <div class="small-10 columns" style="padding-right: 0;">
                                                        <input type="text" id="_id" placeholder="_id" data-rv-value="field:_id" readonly="true">
                                                    </div>
                                                    <div class="small-2 columns" style="padding-left: 0;">
                                                        <span class="postfix radius"><i class="icon-lock"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-6 columns">
                                        <div class="row">
                                            <input data-rv-id="field.cid  | prepend required" type="checkbox" data-rv-checked="field:required">
                                            <label data-rv-for="field.cid  | prepend required">{{model:resources->required}}</label>
                                        </div>
                                        <div class="row">
                                            <input data-rv-id="field.cid  | prepend multi" type="checkbox" data-rv-checked="field:multi">
                                            <label data-rv-for="field.cid  | prepend multi">{{model:resources->allowMultiple}}</label>
                                        </div>
                                        <div class="row">
                                            <input data-rv-id="field.cid  | prepend validation" type="checkbox" data-rv-checked="field:validation">
                                            <label data-rv-for="field.cid  | prepend validation">{{model:resources->validation}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" data-rv-show="field:multi">
                            <fieldset>
                                <legend>
                                    Multiple
                                </legend>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="instancing" class="right inline">{{model:resources->instancing}}</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <input id="instancing" type="number" data-rv-value="field:instancing">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 columns">
                                        <label for="maximum" class="right inline">{{model:resources->maximumAllowed}}</label>
                                    </div>
                                    <div class="small-9 columns">
                                        <input id="maximum" type="number" data-rv-value="field:maximum">
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="row" data-rv-show="field:options">
                            <fieldset>
                                <legend>
                                    {{model:resources->options}}
                                </legend>
                                <div data-rv-fieldform="field"></div>
                            </fieldset>
                        </div>

                        <div class="row" data-rv-show="field:validation">
                            <fieldset>
                                <legend>
                                    {{model:resources->validation}}
                                </legend>
                            </fieldset>
                        </div>

                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <button id="saveContentType" class="button radius right">{{model:resources->save}}</button>
        </div>
    </div>
</div>