<div id="contentTypeDetailView">
    <div class="row">
        <div class="large-12  columns">
            <div class="row">
                <div class="small-6 columns">
                    <h3 class="title" data-rv-editable="model:label">{{model:label}}</h3>
                </div>
                <div class="small-6 columns">
                    <a href="#" data-dropdown="drop" class="button tiny radius dropdown right">{{model:resources->contentType->addNewField}}</a><br>
                    <ul id="drop" data-dropdown-content class="f-dropdown">
                        <li data-rv-each-field="model:plugins">
                            <a data-rv-on-click="view.addNewFieldToContentType">
                                {{field.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="small-2 columns">
                    <label for="helpText" class="right inline">{{model:resources->contentType->helpText | withColon}}</label>
                </div>
                <div class="small-10 columns">
                    <span id="helpText" data-rv-editable="model:helpText"></span>
                </div>
            </div>

            <div class="row">
                <div class="small-2 columns">
                    <label for="description" class="right inline">{{model:resources->contentType->description | withColon}}</label>
                </div>
                <div class="small-10 columns">
                    <span id="description" data-rv-editable="model:description"></span>
                </div>
            </div>

            <hr>
            <h3>{{model:resources->contentType->fields | withColon}}</h3>
            <div class="row">
                <div class="small-4 columns">
                    <h3>{{model:resources->label}}</h3>
                </div>
                <div class="small-4 columns">
                    <h3>{{model:resources->contentType->fieldType}}</h3>
                </div>
                <div class="small-2 columns">
                    <h3>{{model:resources->required}}</h3>
                </div>
                <div class="small-2 columns">
                    <h3>{{model:resources->instancing}}</h3>
                </div>
            </div>
            <dl class="accordion" data-accordion>
                <dd data-rv-each-field="collection:">
                    <a data-rv-href="field.cid | prepend #">
                        <div class="row">
                            <div class="small-4 columns">{{field:label}}</div>
                            <div class="small-4 columns">{{field:type}}</div>
                            <div class="small-2 columns">{{field:required}}</div>
                            <div class="small-2 columns">{{field:instancing}}</div>
                        </div>
                    </a>
                    <div data-rv-id="field.cid" class="content">
                        <div class="row">
                            <div data-rv-fieldform="field"></div>
                        </div>
                        <div class="row">
                            <button data-rv-on-click="view.removeFieldFromCollection" class="alert tiny right radius">Remove</button>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <button id="saveContentType" class="button radius right">{{model:resources->save}}</button>
        </div>
    </div>
</div>