<div id="contentTypeDetailView">
    <div class="row">
        <div class="large-12 columns">

            <h4>{{model:resources->summary | withColon}}</h4>
            <hr>

            <div class="row">
                <div class="small-2 columns">
                    <label for="title" class="right inline">{{model:resources->title | withColon}}</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="title" data-rv-value="model:label">
                </div>

            </div>

            <div class="row contentTypeDetailTextField">
                <div class="small-2 columns">
                    <label for="helpText" class="right inline">{{model:resources->contentType->helpText | withColon}}</label>
                </div>
                <div class="small-10 columns">
                    <textarea id="helpText" data-rv-value="model:helpText" style="max-width: 100%;"></textarea>
                </div>
            </div>

            <div class="row contentTypeDetailTextField">
                <div class="small-2 columns">
                    <label for="description" class="right inline">{{model:resources->contentType->description | withColon}}</label>
                </div>
                <div class="small-10 columns">
                    <textarea id="description" data-rv-value="model:description" style="max-width: 100%;"></textarea>
                </div>
            </div>


            <div class="row paddingTop20">
                <div class="small-6 columns ">
                    <h4>{{model:resources->contentType->fields | withColon}}</h4>
                </div>

                <div class="small-6 columns">
                    <a data-dropdown="drop" data-options="is_hover:true" class="button tiny dropdown radius right">
                        {{model:resources->contentType->addNewField}}
                    </a>
                    <ul id="drop" data-dropdown-content class="f-dropdown">
                        <li data-rv-each-field="model:plugins">
                            <a data-rv-on-click="view.addNewFieldToContentType">
                                {{field.name}}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

            <table width="100%" style="margin-bottom: 0; table-layout: fixed;">
                <thead>
                    <tr>
                        <th style="width: 30%;">{{model:resources->name | spaceBefore}}</th>
                        <th>{{model:resources->contentType->fieldType}}</th>
                        <th>{{model:resources->multiple}}</th>
                        <th style="text-align: center;">{{model:resources->actions}}</th>
                    </tr>
                </thead>
            </table>

            <section id="contentTypeFieldAccordion">

                <div data-rv-each-field="collection:">

                    <div data-rv-fieldaccordion="field"></div>

                </div>

            </section>

        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <button id="saveContentType" class="button tiny radius right" style="margin-top: 10px;">{{model:resources->save}}</button>
        </div>
    </div>
</div>