.itemSelectModal {

  .itemSelection {
    padding: 1.25rem;
    height: 400px;
  }

  .childNode {
    margin-bottom: 1rem;
  }

  .childContent {

  }

  .fileName {
    float: right;
    width: 194px;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .thumbNail {
    max-height: 53px;
    margin-right: 10px;
    border: 0;
  }

  .thumbnailContainer {
    float: left;
    width: 44px;
    overflow: hidden;
  }

}