<div id="modalContainer" class="itemSelectModal">
    <div id="modalContents">

        <div id="modalHeader" class="row">
            {{model:header}}
        </div>

        <div class="row modalPadding">
            <span data-rv-breadcrumb="model:breadcrumbs"></span>
        </div>

        </br>

        <div id="modalBody" class="row">

            <div data-rv-show="model:loading">
                <i class="fa fa-refresh fa fa-spin"></i>
            </div>

            <div id="nodeTree" class="inputContainer" data-rv-hide="model:loading">

                <div data-rv-each-node="model:childNodes:" data-rv-on-click="view.navigateToFolder" data-rv-nodeid="node:_id">
                    <i class="fa fa-folder"></i>
                    {{node:label | spaceBefore}}
                </div>

                <ul data-rv-hide="model:inRoot" class="no-bullet nodeTreeContent accordion">
                    <li data-rv-each-item="model:content:">
                        <input data-rv-id="item.cid" type="radio" name="selectedContent" data-rv-value="item:_id" data-rv-checked="model:value">
                        <label data-rv-for="item.cid">{{item:label}}</label>
                    </li>
                </ul>

            </div>
        </div>

        <div id="buttonContainer" class="row" data-rv-hide="model:loading">
            <div class="right">
                <button id="confirm" class="button tiny radius noMarginBottom">{{model:resources->confirm}}</button>
                <button id="cancel" class="button tiny radius noMarginBottom">{{model:resources->cancel}}</button>
            </div>
        </div>

    </div>
</div>
