#userDetail {

  legend {
    font-size: 20px;
    font-weight: normal;
  }

  #statusText {
    label {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  #identities {
    i {
      cursor:pointer;
      font-size: 30px;
      padding: 13px 17px 9px 15px;
      &.linked {
        background-color: $blue;
        color: white;
      }
    }


  }
}