<tr id="[[= viewId ]]">
    <td class="clickableCell">
        <img src="http://placehold.it/40x40"/>
        {{model:firstname | spaceAfter}}
        {{model:lastname}}
    </td>
    <td class="clickableCell">{{model:login}}</td>
    <td class="clickableCell">{{model:role | humanize}}</td>
    <td class="clickableCell">{{model:email}}</td>
    <td align="center">
        <a data-rv-href="model:href">
            <i class="icon-edit"></i>
        </a>
        <a data-rv-show="model:enabled" class="toggleEnabled" data-rv-href="#">
            <i class="icon-unlock"></i>
        </a>
        <a data-rv-hide="model:enabled" class="toggleEnabled" data-rv-href="#">
            <i class="icon-lock"></i>
        </a>
    </td>
</tr>
