<tr id="[[= viewId ]]">
    <td class="clickableCell">
        <img src="http://placehold.it/40x40"/>
        {{data.firstname | spaceAfter}}
        {{data.lastname}}
    </td>
    <td class="clickableCell">{{data.login}}</td>
    <td class="clickableCell">{{data.role | humanize}}</td>
    <td class="clickableCell">{{data.email}}</td>
    <td align="center">
        <a data-rv-href="data.href">
            <i class="icon-edit"></i>
        </a>
        <a data-rv-show="data.enabled" class="toggleEnabled" data-rv-href="#">
            <i class="icon-unlock"></i>
        </a>
        <a data-rv-hide="data.enabled" class="toggleEnabled" data-rv-href="#">
            <i class="icon-lock"></i>
        </a>
    </td>
</tr>
