#userDetail {
    .listItem {
        .editable {

            .editLink {
                visibility: hidden;
            }
            .saving {
                visibility: hidden;
            }

            .attribute {
            }

            &:hover {
                .attribute {
                }
                .editLink {
                  visibility: visible;
                }
            }
        }
    }

}


