<div id="userDetail" class="row">
    <div class="large-12 small-centered columns">
        <fieldset>
            <legend>
                {{model:resources->user->userDetailHeaderText}}{{model:firstname | spaceAfter}}{{model:lastname}}
            </legend>

            <div class="row">

                <div class="large-12 columns">
                    <div class="row listItem">
                        <div class="large-3 columns">
                            <label for="firstName" class="right inline">{{model:resources->user->attributeTitles->firstName |
                                withColon}}</label>
                        </div>
                        <div class="large-9 columns editable">
                            <div class="row">
                                <div class="large-12 columns attribute">
                                    <input id="firstName" type="text" value="model:name"
                                           data-rv-value="model:firstname"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row listItem">
                        <div class="large-3 columns">
                            <label for="lastName" class="right inline">{{model:resources->user->attributeTitles->lastName |
                                withColon}}</label>
                        </div>
                        <div class="large-9 columns editable">
                            <div class="row">
                                <div class="large-12 columns attribute">
                                    <input id="lastName" type="text" value="model:name"
                                           data-rv-value="model:lastname"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row listItem">
                        <div class="large-3 columns">
                            <label for="statusText" class="right inline">{{model:resources->user->attributeTitles->enabled |
                                withColon}}</label>
                        </div>
                        <div class="large-9 columns editable">
                            <div class="row">
                                <div class="large-12 columns attribute">
                                    <div id="statusText" class="userEnabledSwitch">
                                        <input id="trueSwitch" name="switch-z" type="radio" value="true"
                                               data-rv-checked="model:enabled"
                                               data-rv-enabled="model:userModel->role | equals admin">
                                        <label for="trueSwitch" onclick="">{{model:resources->yes}}</label>

                                        <input id="falseSwitch" name="switch-z" type="radio" value="false"
                                               data-rv-checked="model:enabled"
                                               data-rv-enabled="model:userModel->role | equals admin">
                                        <label for="falseSwitch" onclick="">{{model:resources->no}}</label>

                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row listItem">
                        <div class="large-3 columns">
                            <label for="role" class="right inline">{{model:resources->user->attributeTitles->role |
                                withColon}}</label>
                        </div>
                        <div class="large-9 columns editable">
                            <div class="row">
                                <div class="large-12 columns attribute">
                                    <form class="custom">
                                        <select id="role" data-rv-enabled="model:userModel->role | equals admin"
                                                data-rv-value="model:role | humanize">
                                            <option data-rv-each-role="model:resources->user->roles"
                                                    data-rv-text="role | humanize"></option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row listItem">
                        <div class="large-3 columns">
                            <label for="email" class="right inline">{{model:resources->user->attributeTitles->email |
                                withColon}}</label>
                        </div>
                        <div class="large-9 columns editable">
                            <div class="row">
                                <div class="large-12 columns attribute">
                                    <input id="email" type="text" value="model:email" data-rv-value="model:email"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row listItem">
                        <div class="large-3 columns">
                            <label for="login" class="right inline">{{model:resources->user->attributeTitles->login |
                                withColon}}</label>
                        </div>
                        <div class="large-9 columns editable">
                            <div class="row">
                                <div class="large-12 columns attribute">
                                    <input id="login" type="text" value="model:login" data-rv-value="model:login"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row listItem" data-rv-show="model:userModel->role | equals admin">
                        <div class="large-3 columns">
                            <label for="password" class="right inline">{{model:resources->user->attributeTitles->password |
                                withColon}}</label>
                        </div>
                        <div class="large-9 columns editable">
                            <div class="row">
                                <div class="large-12 columns attribute">
                                    <input id="password" type="password" value="model:password"
                                           data-rv-value="model:password"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <div class="right">
                                <button data-rv-on-click="view.saveUser" class="button radius tiny">{{model:resources->save}}</button>
                                <button data-rv-on-click="view.saveAndClose" class="button radius tiny">{{model:resources->saveAndClose}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>