#userDetail {
    .gravatar {
        border-radius: 5px;
        border: 1px solid black;
    }
    .listItem {
        .editable {

            .editLink {
                visibility: hidden;
            }
            .saving {
                visibility: hidden;
            }

            .attribute {
            }

            &:hover {
                .attribute {
                }
                .editLink {
                  visibility: visible;
                }
            }
        }
        .progress-container {
            position: relative;
            top: -14px;
            height: 4px;
            .progress-bar {
                background-color: $green;
                width: 0;
                height: 100%;
            }
            .active {
                -webkit-transition: width 3s;
                -webkit-transition-timing-function: linear;
                width: 100%;
            }
        }
    }
}
