 <div id="userDetail">
    <div class="row">
        <div class="large-5 small-centered columns">
            USER DETAIL VIEW
            <div class="row">
                USER NAME:
                <div data-userDetail-text="data.name"></div>
            </div>
            <div class="row">
                USER ROLE:
                <div data-userDetail-text="data.role"></div>
            </div>
            <div class="row">
                ENABLED?:
                <div data-userDetail-text="data.enabled"></div>
            </div>
            <div class="row">
                EMAIL:
                <div data-userDetail-text="data.email"></div>
            </div>
            <div class="row">
                ID:
                <div data-userDetail-text="data._id"></div>
            </div>
            <div class="row">
                LOGIN:
                <div data-userDetail-text="data.login"></div>
            </div>
            <div class="row">
                PASSWORD:
                <div data-userDetail-text="data.password"></div>
            </div>
            <div class="row">
                <input data-userDetail-value="data.test"></input>
                <div class="row">
                    <div data-userDetail-text="data.test"></div>
                </div>
            </div>
        </div>
    </div>
</div>