<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <div class="left">
                <div class="masthead-pad">
                    <div class="masthead-text">
                        <h4>
                            <i class="icon-file"></i>
                            <span data-rv-each-breadcrumb="model:breadcrumbs">
                                <span>
                                    <a data-rv-href="breadcrumb.href">{{breadcrumb.text | withForwardSlash}}</a>
                                </span>
                            </span>
                        </h4>

                        <p data-rv-hide="model:inRoot">
                            <span data-rv-show="model:nodesCount">{{model:nodesCount | pluralize folder | withComma}}</span>
                            <span data-rv-show="model:filesCount">{{model:filesCount | pluralize file | withComma}}</span>
                            <span data-rv-show="model:itemsCount">{{model:itemsCount | pluralize item}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <ul id="mastheadButtons" class="button-group radius right">

                    <li data-rv-each-button="model:buttons">

                        <a data-rv-href="button.href" class="button tiny">
                            {{button.text}}
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>