#masthead {
    width: 100%;
    padding: 20px 0;
    color: #333333;
    text-shadow: 1px 1px 2px #FFF;

  @include lightGradient;

  @media screen and (max-width: $break-small - 1) {width: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  h1,h2,h3,h4,h5
  {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
  }

  p {
    margin-bottom: 0;
    font-size: 13px;
  }

  .masthead-pad {
    display: table;
    width: 100%;

    .masthead-text {
      display: table-cell;
      vertical-align: top;
    }
  }
}


