<div id="[[=viewId ]]" class="container">
    <div class="row">
        <div class="large-6 columns">
            <div class="masthead-pad">
                <div class="masthead-text">
                    <h2>
                        <i class="icon-file"></i>
                        <span data-rv-each-breadcrumb="data.breadcrumbs">
                            <span>
                                <a data-rv-href="breadcrumb.href">{{breadcrumb.text | withBackslash}}</a>
                            </span>
                        </span>
                    </h2>
                    <p data-rv-hide="data.inRoot">
                        <span data-rv-show="data.nodesCount">{{data.nodesCount | pluralize folder | withComma}}</span>
                        <span data-rv-show="data.filesCount">{{data.filesCount | pluralize file | withComma}}</span>
                        <span data-rv-show="data.itemsCount">{{data.itemsCount | pluralize item}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="large-6 columns">

            <ul id="mastheadButtons" class="button-group right radius" data-rv-each-button="data.buttons">
                <li>
                    <a data-rv-href="button.href" class="button right small">{{button.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>