<div id="[[=viewId ]]" class="container">
    <div class="row">
        <div class="large-6 columns">
            <div class="masthead-pad">
                <div class="masthead-text">
                    <h2>
                        <i class="icon-file"></i>
                        <span data-rv-each-breadcrumb="data.breadcrumbs">
                            <a data-rv-href="breadcrumb.href">{{breadcrumb.text | withBackslash}}</a>
                        </span>
                    </h2>
                    <p>
                        <span data-rv-show="data.nodesCountText">{{data.nodesCountText | spaceAfter}}</span>
                        <span data-rv-show="data.filesCountText">{{data.filesCountText | spaceAfter}}</span>
                        <span data-rv-show="data.itemsCountText">{{data.itemsCountText}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="large-6 columns">

            <ul id="mastheadButtons" class="button-group right radius" data-rv-each-button="data.buttons">
                <li>
                    <a data-rv-href="button.href" class="button right small">{{button.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>