.contentBrowse {
  .tabs {
    border-bottom: 1px solid $tabBorderColor;
    & dd {
      border: 1px solid $tabBorderColor;
    }
    & dd.active {
      border-bottom: 1px solid $activeTabBorderColor;
    }
    p{
      margin-bottom: 0;
    }
  }

  .tabs-content {
    .content {
      width: 100%;
    }
  }
}

#contentSearch {
  float: right;
  width: 19rem;
  margin: -3rem 0 0;
}