<div class="row">
    <div class="large-12 columns">
        <div class="right">
            <input type="text" id="ContentSearch" class="search" placeholder="Search"/><a href="#" style="margin-left: 4px;"><i
                class="icon-search"></i></a>
        </div>


        <dl class="tabs" data-tab>
            <dd class="active" id="contentTab">
                <a href="#panel2-1">
                    <p class="title">
                        <i class="icon-list-alt"></i>
                        {{model:resources.content | spaceBefore}}
                    </p>
                </a>
            </dd>
            <dd data-rv-hide="model:inRoot" id="filesTab">
                <a href="#panel2-2">
                    <p class="title">
                        <i class="icon-paper-clip"></i>
                        {{model:resources.fileIndex.files | spaceBefore}}
                    </p>
                </a>
            </dd>
        </dl>

        <div class="tabs-content">
            <div class="content active" id="panel2-1">

                <table class="content-table" id="contentBrowseTable">
                    <thead>
                    <tr>
                        <th>{{model:resources.name}}</th>
                        <th>{{model:resources.contentBrowse.author}}</th>
                        <th>{{model:resources.status}}</th>
                        <th>{{model:resources.contentBrowse.modified}}</th>
                        <th style="text-align: center">{{model:resources.actions}}</th>
                    </tr>
                    </thead>
                </table>

            </div>
            <div class="content" id="panel2-2" data-rv-hide="model:inRoot">
                <div id="assetIndex">
                    <!--Built from assetIndex-->
                </div>
            </div>
        </div>
    </div>
</div>