<div class="nodeTree">

    <div data-rv-id="model.cid | prepend nodeTreeAccordionHeader" class="nodeTreeAccordionHeader">
        {{model:label | spaceBefore}}
        <i data-rv-show="model:loading" class="fa fa-refresh fa fa-spin"></i>
    </div>

    <div class="nodeTreeAccordionContent">

        <div data-rv-each-node="model:children:" data-rv-nodetree="node" class="nodeTreeSubNode"></div>

        <ul data-rv-show="model:content | haslength" class="no-bullet">

            <li data-rv-each-item="model:content:" class="nodeTreeSubNode" data-rv-filter-by-allowed-types="item">

                <input data-rv-id="item.cid" type="radio" name="selectedContent" class="selectedContentRadio"
                       data-rv-checked="model:selectedContent" data-rv-value="item:_id" data-rv-hide="model:nodeTreeType | equals file">

                <label data-rv-for="item.cid" class="noMarginBottom">

                    <span data-rv-show="model:nodeTreeType | equals content">
                        {{item:label}}
                    </span>

                    <span data-rv-show="model:nodeTreeType | equals file">
                        <img class="th nodeTreeThumbNail left" data-rv-src="item:url" data-rv-alt="item:fileName">
                        <a>{{item:fileName}}</a>
                    </span>

                </label>

            </li>

        </ul>

        <div data-rv-hide="model:inSetup">
            <ul data-rv-hide="model:content | haslength" class="no-bullet">
                <li data-rv-show="model:nodeTreeType | equals content">
                    {{model:resources->nodeTree->emptyFolder->content}}
                </li>
                <li data-rv-show="model:nodeTreeType | equals file">
                    {{model:resources->nodeTree->emptyFolder->files}}
                </li>
            </ul>
        </div>

    </div>

</div>